<html>
<head>
	<meta charset="UTF-8">
	<!-- <link rel="preconnect" href="WEBSITE DOMAIN" crossorigin> -->
    <style>
    	
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

	<link rel="stylesheet" href="../styles/style.css">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Myff</title>
    <meta name="keywords" content=""> 
    <meta name="description" content="">
    <meta name="author" content="Rostyslav">
</head>
<body>
	<!-- Header -->
	<header class="header flex flex-col">
		<a class="header_logo"><span class="desc-firstWord">My</span><span class="desc-secondWord">ff</span></a>
		<section class="header_desc-section flex flex-col">
			<h1 class="header_title">
				<span class="desc-firstWord">M</span>y<span class="desc-secondWord">F</span>avourite<span class="desc-thirdWord">F</span>ilms
			</h1>	
			<p class="header_desc">is an application with a filterable list of my favourite movies. The application is based on pure <span class="keyword">HTML, CSS, JS </span>with the best optimization methods that I know, and was created to show and improve my development skills.</p>
			<section class="header_btn-section flex flex-row">
				<a href="#" class="header_btn hb1">explain</a>
				<a target="_blank" href="#" class="header_btn hb2">source code</a>
			</section>
		</section>
	</header>
	section.
	<div class="content flex flex-col">
		<ul class="content_filter flex flex-row">
			<li class="filter-item f-1">Recently</li>
			<li class="filter-item f-2">Recently</li>
			<li class="filter-item f-3">Recently</li>
		</ul>
		<section class="content-body grid">
			
		</section>
	</div>
	<div class="footer flex flex-col">
		<p class="footer_desc">
			Created by <a href="">Rostyslav</a>
		</p>
		<section class="links flex flex-row">
			<a href="" class="link-1 4">facebook</a>
			<a href="" class="link-2 4">facebook</a>
			<a href="" class="link-3 4">facebook</a>
			<a href="" class="link-4 4">facebook</a>
		</section>
		<a href="" class="email">valsytsor666@gmail.com</a>
	</div>
	
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>