<html>
<head>
	<meta charset="UTF-8">
	<!-- <link rel="preconnect" href="WEBSITE DOMAIN" crossorigin> -->
    <style>
    	
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

	<link rel="stylesheet" href="../styles/style.css">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Myff</title>
    <meta name="keywords" content=""> 
    <meta name="description" content="">
    <meta name="author" content="Rostyslav">
</head>
<body>
	<!-- Header -->
	<header class="header flex flex-col">
		<a class="header_logo"><span class="desc-firstWord">MyM</span><span class="desc-thirdWord">Db</span></a>
		<div class="header_desc-section flex flex-col">
			<h1 class="header_title">
				<span class="desc-firstWord">M</span>y<span class="desc-firstWord">M</span>ovie<span class="desc-thirdWord">D</span>atabase
			</h1>	
			<p class="header_desc">is an application with a filterable list of mock-movies. The application is based on pure <span class="keyword">HTML, CSS, JS </span>with the best optimization methods that I know, and was created to show and improve my development skills.</p>
			<div class="header_btn-section flex flex-row">
				<a href="#" class="header_btn hb1">explore</a>
				<a target="_blank" href="#" class="header_btn hb2">source code</a>
			</div>
		</div>
	</header>
	<!-- Info Section -->
	<div class="info-section grid">
		<h2 class="info-item f1"><span class="if-wrap"><span class="info-item_sign">> </span>50</span> films</h2>
		<h2 class="info-item f2"><span class="if-wrap">1972<span class="info-item_sign"> - </span>2018</span> range</h2>
		<h2 class="info-item f3"><span class="if-wrap"><span class="info-item_sign">> </span>120</span> hours</h2>
	</div>
	<!-- Content -->
	<div class="content flex flex-col">
		<!-- Filter Section -->
		<ul class="content_filter flex flex-row">
			<li class="filter-title">Filter</li>
			<li class="filter-item f-1">Recently</li>
			<li class="filter-item f-2">Top Rated</li>
			<li class="filter-item f-3">Low Rated</li>
			<li class="schema s-1 grid">
				<span class="schema-i"></span>
				<span class="schema-i"></span>
				<span class="schema-i"></span>
				<span class="schema-i"></span>
			</li>
		</ul>
		<!-- Content Section -->
		<div class="content-body grid">
			<figure class="movie m-1 flex flex-col"><a href="#movie-">
					<div class="movie_img-wrap"><img src="" alt="" class="movie_img"></div>
					<figcuption class="flex flex-col">
						<h3 class="movie-title">Movie</h3>
						<div class="movie-info">2018, comedia</div>
						<div class="viewed">Was viewed 9/9/2018</div>
					</figcuption>
				</a></figure>
			<figure class="movie m-2 flex flex-col"><a href="#movie-">
					<div class="movie_img-wrap"><img src="" alt="" class="movie_img"></div>
					<figcuption class="flex flex-col">
						<h3 class="movie-title">Movie</h3>
						<div class="movie-info">2018, comedia</div>
						<div class="viewed">Was viewed 9/9/2018</div>
					</figcuption>
				</a></figure>
			<figure class="movie m-3 flex flex-col"><a href="#movie-">
					<div class="movie_img-wrap"><img src="" alt="" class="movie_img"></div>
					<figcuption class="flex flex-col">
						<h3 class="movie-title">Movie</h3>
						<div class="movie-info">2018, comedia</div>
						<div class="viewed">Was viewed 9/9/2018</div>
					</figcuption>
				</a></figure>
			<figure class="movie m-4 flex flex-col"><a href="#movie-">
					<div class="movie_img-wrap"><img src="" alt="" class="movie_img"></div>
					<figcuption class="flex flex-col">
						<h3 class="movie-title">Movie</h3>
						<div class="movie-info">2018, comedia</div>
						<div class="viewed">Was viewed 9/9/2018</div>
					</figcuption>
				</a></figure>
			<figure class="movie m-5 flex flex-col"><a href="#movie-">
					<div class="movie_img-wrap"><img src="" alt="" class="movie_img"></div>
					<figcuption class="flex flex-col">
						<h3 class="movie-title">Movie</h3>
						<div class="movie-info">2018, comedia</div>
						<div class="viewed">Was viewed 9/9/2018</div>
					</figcuption>
				</a></figure>
			<figure class="movie m-6 flex flex-col"><a href="#movie-">
					<div class="movie_img-wrap"><img src="" alt="" class="movie_img"></div>
					<figcuption class="flex flex-col">
						<h3 class="movie-title">Movie</h3>
						<div class="movie-info">2018, comedia</div>
						<div class="viewed">Was viewed 9/9/2018</div>
					</figcuption>
				</a></figure>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer flex flex-col">
		<!-- Footer Info -->
		<p class="footer_desc">
			Created by <a href="">Rostyslav</a>
		</p>
		<!-- Footer Links -->
		<div class="links flex flex-row">
			<a href="" class="link-1 4">Facebook</a>
			<a href="" class="link-2 4">Upwork</a>
			<a href="" class="link-3 4">GitHub</a>
			<a href="" class="link-4 4">LinkedIn</a>
		</div>
		<a href="" class="email">valsytsor666@gmail.com</a>
	</div>
	
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>