/* Variables */
/* Primary color #FFFFFF */
/* Secondary color #0D5146 */
/* Distinctive color #F86173 */

/* General Styles*/
body, h1, h2, h3, h4, div, p, span, section, figure, figcaption, a, ul, li { padding: 0; margin: 0; border: 0; }
ul { list-style-type: none; }

body { padding: 2%; font-family: "Cabin", Arial, Helvetica, sans-serif; line-height: 1.5; font-size: 62.5%; color: #0D5146;}

a {text-decoration: none; color: inherit;}
p, h2 { font-size: calc(16px + (20 - 16) * (100vw - 320px) / (960 - 320)); }
h1, .if-wrap { font-size: calc(30px + (40 - 30) * (100vw - 320px) / (960 - 320)); }

.grid { display: grid; }
.flex { display: flex; }
.flex-row { flex-flow: row wrap; }
.flex-col { flex-flow: column nowrap; }
.keyword { color: #F86173; } 
.k-link {text-decoration: underline; color: #F86173;}

/*Header Styles*/
.header {border-radius: 5px; background: linear-gradient(45deg, #CC339A, #8037B8); padding: 2%; color: #fff; margin-bottom: .9% }
.header_logo {font-size: 2.6em; color: #fff; align-self: flex-start;}
.header_desc-section {align-items: center; margin: 20vh 0vh;}
.desc-firstWord {color: #C1F33D;}
.desc-thirdWord {color: #F86173;}
.header_desc {max-width: 40em; text-align: center; margin: .5em 0em 1.3em; }
.header_btn-section {}
.header_btn {color: inherit; font-weight: 700; font-size: 1.7em; text-transform: uppercase; background: rgb(225,225,225,.3); transition: background ease .5s; padding: 10px 30px;}
.hb1 {margin-right: .5em;}
.hb2 {margin-left: .5em;}

/*Info Section Styles*/
.info-section { grid-template-columns: 1fr 1fr 1fr; justify-items: center; }
.info-item_sign { color: #F86173; }

/* Filter Section Styles*/
.content_filter { margin: .9% 0px 3.5em; align-items: center; border-radius: 5px; background: rgba(225,225,225,.3); padding: 5px 10px; box-sizing: border-box; }
.filter-item { font-size: 1.5em; margin-right: 1em; cursor: pointer;}
.filter-title {font-size: 1.8em; color: #F86173; margin-right: 1em}
.schema {  margin-left: auto; cursor: pointer; box-sizing: border-box;}
.s-1 { grid-template-columns: 9px 9px; grid-template-rows: 9px 9px; grid-gap: 3px; }
.s-2 {grid-template-columns: 21px; grid-template-rows: 9px 9px; grid-row-gap: 3px}
.s-2-hide {display: none;}
.schema-i { background: #F86173; }

/* Content Styles*/
.content-body { grid-template-columns: repeat(auto-fill, 190px); grid-template-rows: auto; grid-gap: 1.2em 3%; justify-content: space-between; box-sizing: border-box; }
.movie_img-wrap { height: 280px; background: rgba(225,225,225,.3); position: relative;}
.movie_img-wrap:after { transition: background .3s ease; position: absolute; content: ""; width: 100%; height: 100%; opacity: .8; }
.movie-title {  font-size: 1.7em; margin-top: .3em; font-weight: 300;}
.movie-info { font-size: 1.4em; opacity: .6; margin-top: -.3em}
.viewed { font-size: 1.4em; color: inherit; }


/* Footer Styles */
.footer { margin-top: 3em; align-items: center;}
.footer_desc { font-size: 1.6em; }
.social:not(:last-of-type) { margin-right: 10px; }
.social { margin: .3em 0em; font-size: 1.4em }





/* Hover */
a:hover { cursor: pointer;}
.header_btn:hover, .movie:hover .movie_img-wrap:after {transition: background .3s ease; background: #F86173;}
.k-link:hover {text-decoration: none;}
.filter-item:hover, .social:hover, .movie:hover .movie-title, .email:hover { transition: color .2s ease; color: #F86173; }
.email, .social, .movie-title, .filter-item { transition: color .3s ease; }

/* Media */
@media only screen and (max-width: 350px) {
    .header_btn { font-size: 1.3em; }
}

@media only screen and (max-width: 700px) {
	.if-wrap { font-size: .75em }
	.schema { display: none; }
}

@media only screen and (max-width: 410px) {
    .content-body { grid-template-columns: 1fr }
}