/*Info Section Styles*/
.info-section { grid-template-columns: 1fr 1fr 1fr; justify-items: center; }
.info-item_sign { color: #F86173; }
.info-item { animation: visible 2s ease forwards; opacity: 0;}
.f1 {animation-delay: .5s;}
.f2 {animation-delay: .75s;}
.f3 {animation-delay: 1s;}

@keyframes visible {
	from {
		opacity: 0;
	} 
	to {
		opacity: 1;
	}
}

.s-2 {grid-template-columns: 21px; grid-template-rows: 9px 9px; grid-row-gap: 3px }
.hide {display: none;}
.schema-i { transition: opacity .3s ease; background: #F86173; }

/* Content Styles*/
.content-body { box-sizing: border-box; }
.schema-1 { grid-template-columns: repeat(auto-fill, 190px); grid-template-rows: auto; grid-gap: 35px; justify-content: space-between; }
.s-1-title { font-size: 1.7em; font-weight: 300; text-transform: capitalize;}
.s-1-info { font-size: 1.4em; opacity: .6; }
.s-1-viewed { font-size: 1.4em; color: inherit; }
.schema-2 { grid-template-rows: auto; grid-row-gap: 30px; }
.movie-schema { display: grid; grid-template-columns: max-content 1fr max-content; grid-column-gap: 15px; background: rgba(225, 225, 225, .3); padding: .5em 1em; align-items: center; }

.movie_img-wrap { height: 280px; margin-bottom: .3em; background: rgba(225,225,225,.3); position: relative;}
.movie_img-wrap:after { transition: background .3s ease; position: absolute; content: ""; width: 100%; height: 100%; opacity: .8; }
.movie { animation: visible 1s ease-in-out ; }

.moreBtn { margin-top: 1em; align-self: center; }
.disabled { color: rgba(13,81,70,.5) }

/* Footer Styles */
.footer { margin-top: 3em; align-items: center;}
.footer_desc { font-size: 1.6em; }
.social:not(:last-of-type) { margin-right: 10px; }
.social { margin: .3em 0em; font-size: 1.4em }

/* Hover */
a:hover, .filter-item:hover, .pointer:hover, .moreBtn:hover { cursor: pointer;}
.btn-style:hover, .movie:hover .movie_img-wrap:after, .moreBtn:hover {background: #F86173;}
.btn-style:active, .movie:active .movie_img-wrap:after, .moreBtn:active {background: #C1F33D}
.k-link:hover {text-decoration: none; cursor: pointer;}
.schema:hover .schema-i{ opacity: .8; }
.filter-item:hover, .social:hover, .movie:hover .movie-title, .email:hover { color: #F86173; }
.filter-item:active, .social:active, .movie:active .movie-title, .email:active, .k-link:active { color: #C1F33D; }
.email, .social, .movie-title, .filter-item { transition: color .3s ease; }

.disabled:hover, .disabled:active {background: rgba(225,225,225,.3)}

.movie-sidebar {
	position: fixed;
	transform: translateX(100%);
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	background: #fff;
	/*border-left: 1px #e1e1e1 solid;*/
	width: 450px;
	height: 100%;
	will-change: transform;
	transition: transform 300ms ease;

	overflow-y: scroll;

}

/* Media */
@media only screen and (max-width: 700px) {
	.if-wrap { font-size: .75em }
	.schema { display: none; }
}

@media only screen and (max-width: 412px) {
    .content-body { grid-template-columns: 1fr }
    .btn-style { font-size: 1.3em; }
}